.container {
  background-color: var(--blue);
  padding: 4rem 5rem;
  height: 95vh;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.left {
  width: 500px;
}

.left h1 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 0.5rem;
  padding: 0;
  text-transform: uppercase;
  font-family: "League Spartan", sans-serif;
}

.right {
  width: 550px;
}

.imgContainer {
  height: 520px;
  width: 520px;
  position: relative;
  z-index: 10;
}

.btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.btn1,
.btn2 {
  max-width: 190px;
  height: 47px;
  border: 0;
  background-color: #fff;
  font-size: 18px;
  border-radius: 0.35rem;
  font-weight: 500;
  color: var(--banner-blue);
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.4s;
  padding: 0.5rem 1rem;
}

.btns .btn1:hover {
  background-color: rgb(235, 247, 255);
}

.btns .btn2 {
  background-color: transparent;
  color: #fff;
}
.btns .btn2:hover {
  outline: 2px solid #fff;
}

@media screen and (max-width: 1096px) {
  .container {
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 994px) {
  .container {
    flex-direction: column;
    height: fit-content;
    gap: 2rem;
  }
  .left {
    width: fit-content;
    margin-bottom: 2rem;
  }
  .left h1 {
    font-size: 30px;
  }

  .right {
    width: fit-content;
  }
  .imgContainer {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 4rem 1rem;
  }

  .imgContainer {
    width: 300px;
    height: 300px;
  }
  .right {
    width: 300px;
  }
  .btn1,
  .btn2 {
    font-size: 13px;
  }
}
