.container {
  margin: 5rem 5rem;
}

.container .articleType1,
.container .articleType2 {
  display: flex;
  gap: 4rem;
  margin: 13rem 0;
  justify-content: space-between;
}

.container .articleType1:first-of-type {
  margin-top: 7rem;
}

.articleType1 .left {
  flex: 0.58;
  position: relative;
  height: fit-content;
}

.articleType1 .right {
  flex: 0.5;
  max-width: 350px;
}

.articleType1 .left .videoContainer {
  width: 500px;
  height: auto;
  position: absolute;
  right: 0;
  left: 10%;
  top: 3rem;
}

.articleType1 .left .backdrop {
  width: 500px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 0.35rem;
}

.articleType1 .right h3,
.articleType2 .left h3 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 1rem;
  /* font-family: "League Spartan", sans-serif; */
}

.articleType1 .right p,
.articleType2 .left p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 2rem;
}

.articleType1 .right a,
.articleType2 .left a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: fit-content;
  gap: 0.5rem;
  color: var(--dark-blue);
}

/* articleType2 */

.articleType2 .left {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}

.left .leftDetails {
  max-width: 350px;
}

.articleType2 .right {
  flex: 0.58;
  position: relative;
  height: fit-content;
  justify-content: flex-end;
  display: flex;
}

.articleType2 .right .videoContainer {
  width: 500px;
  height: auto;
  position: absolute;
  left: 0;
  right: 10%;
  top: 3rem;
}

.articleType2 .right .backdrop {
  width: 500px;
  height: 300px;
  background-color: #f5f5f5;
  border-radius: 0.35rem;
  justify-self: flex-end;
}

.container article:last-of-type .backdrop {
  background-color: #eefff2;
}

.video {
  border-radius: 0.35rem;
  border: 1px solid var(--dark-blue);
  height: fit-content;
}

@media screen and (max-width: 1038px) {
  .container .articleType1 {
    flex-direction: column;
  }
  .container,
  .articleType2 {
    flex-direction: column-reverse;
  }

  .articleType1 .right {
    max-width: 80%;
  }
  .left .leftDetails {
    max-width: 80%;
  }

  .articleType1 .right h3,
  .articleType2 .left h3 {
   
   margin-top: 2rem;
  
  }
}
@media screen and (max-width: 1096px) {
  .container {
    margin: 5rem 2rem;
  }
}
@media screen and (max-width: 1096px) {
  .container {
    margin: 5rem 2rem;
  }
}

@media screen and (max-width: 550px) {
  .container {
    margin: 5rem 1rem;
  }

  .container .articleType1,
  .container .articleType2 {
    margin: 6rem 0;
  }

  .articleType1 .left .videoContainer,
  .articleType2 .right .videoContainer {
    width: 280px;
    height: 200px;
  }

  .articleType1 .left .backdrop,
  .articleType2 .right .backdrop {
    width: 280px;
    height: 170px;
    margin-bottom: 2rem;
  }
  .container .articleType1:first-of-type {
    margin-top: 3rem;
  }
  .articleType1 .right h3,
  .articleType2 .left h3 {
    font-size: 20px;
  }
  .articleType1 .right p,
  .articleType2 .left p {
    font-size: 17px;
  }
  .articleType1 .right a,
  .articleType2 .left a {
    font-size: 17px;
  }
  .articleType1 .right {
    max-width: 100%;
  }
  .left .leftDetails {
    max-width: 100%;
  }
}
