.container {
  margin: 11rem 5rem 0;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1096px) {
  .container {
    margin: 11rem 3rem 0;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 7rem 1rem 0;
  }
}
