.container {
  padding: 3rem 5rem;
  background-color: var(--light-bg);
}

.container h1 {
  margin: 0.3rem 0 1.5rem;
  color: var(--dark-blue);
  font-weight: 500;
  font-size: 38px;
}

.container h1 span {
  font-size: 15px;
  color: gray;
  font-weight: 500;
}

.details {
  display: flex;
  gap: 3.5rem;
}

.container a {
  color: var(--yello);
  align-items: center;
  display: flex;
  gap: .5rem;
}


@media screen and (max-width: 1096px) {
  .container {
    padding: 3rem 2rem;
  }
}
@media screen and (max-width: 852px) {
  .details {
    flex-direction: column;
  }
  .container h1 {
    line-height: 20px;
    font-size: 26px;
    margin: 1rem 0 1.5rem;
  }

}

@media screen and (max-width: 500px) {
  .container{
    padding: 3rem 1rem;
  }

  
}