/* bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded fixed top-12 right-12 flex items-center justify-between gap-4 */
.errorAlert {
  background-color: #fff5f5;
  border: 1px solid #fc8181;
  color: #c53030;
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  position: fixed;
  top: 6rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 9999;
}

.successAlert {
  background-color: #f7fff5;
  border: 1px solid #64bd79;
  color: #64bd79;
  padding: 0.5rem 1rem;
  border-radius: 0.35rem;
  position: fixed;
  top: 6rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 9999;
}

.msg {
  font-weight: bold;
}

.closeIcon {
  padding: 0.75rem 1rem;
}

.adminContainer {
  display: flex;
  width: 100%;
}

.adminWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 4;
}

.adminInside {
  background-color: #e1ecf0;
  padding: 1.2rem;
  min-height: 125vh;
}
.account {
  background-color: var(--light-bg);
  display: flex;
  gap: 2rem;
  padding: 4rem 5rem;
  position: relative;
}
.accountSidebar {
  width: 30%;
}
.children {
  width: 70%;
}

.delete,
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(90, 89, 89, 0.5);
  z-index: 99999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MobileAccNav {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  flex-direction: column;
  gap: 1rem;
  z-index: 9999;
}

.adminMobileSidebar {
  position: fixed;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 35, 35, 0.61);
  transition: 0.3s;
  min-height: 100vh;
 
  display: none;
  z-index: -1;
  overflow: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.whatApp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

@media screen and (max-width: 1096px) {
  .account {
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 894px) {
  .children {
    width: 100%;
  }
  .accountSidebar {
    display: none;
  }
  .MobileAccNav {
    display: flex;
  }
  .adminSidebar {
    display: none;
  }

  .adminMobileSidebar {
    left: 0;
    display: flex;
    z-index: 9999;
  }

.whatApp{
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
}
}

@media screen and (max-width: 500px) {
  .account,
  .tagline h1 {
    padding: 4rem 1rem;
  }
}
