.container {
  display: flex;
  padding: 0.4rem 5rem;
  background-color: var(--blue);
  justify-content: space-between;
  color: #fff;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.left ul,
.right ul {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  list-style: none;
  align-items: center;
  flex: .8;
}

.right ul {
  gap: 1.5rem;
  flex : 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 22px;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
}
.imgWrapper {
  position: relative;
  width: 60px;
  height: 60px;
}

.img {
  border-radius: 50%;
  border: 5px solid #fff;
}

/*  */
.right .icon {
  color: var(--dark-green);
  font-size: 25px;
}

.cartBtn {
  position: relative;
}

.cartBtn span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 0.45rem;
  top: -7px;
  left: 15px;
  color: var(--dark-blue);
  font-size: 15px;
}
.userIcon {
  display: none;
}

.account {
  position: relative;
  width: 160px;
  padding: 0.4rem;
  border-radius: 0.25rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #fff;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 160px;
  height: fit-content;
  background-color: #fff;
  color: var(--dark-blue) !important;
  display: flex;
  flex-direction: column;
  z-index: 999;
  color: var(--dark-gray);
  padding-top: 0.5rem;
  font-weight: normal;
  border-radius: 0.25rem;
  border: 1px solid var(--dark-blue);
}

.dropdown span {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.dropdown span:hover {
  background-color: #eee;
}
.menu {
  display: none;
}

.mobileContainer {
  background-color: #fff;
  padding: 3rem 2rem; 
  border-radius: 0.45rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  position: relative;
  margin: 0 1rem;
}

.mobileContainer a {
  font-weight: 600;
}
.mobileContainer header {
  background-color: var(--banner-blue);
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 19px;
  justify-content: center;
  padding: 1rem 1rem;
  margin: 1rem 0
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.mobileLinks span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: gray;
  font-weight: 600;
}

.closeIcon {
  color: red;
  font-size: 29px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
@media screen and (max-width: 1096px) {
  .container {
    padding: 0.4rem 2rem;
  }
  .userIcon {
    display: block;
  }
  .userName {
    display: none;
  }
  .account {
    width: fit-content;
  }
}
@media screen and (max-width: 908px) {
  .left {
    display: none;
  }
  .right {
    display: none;
  }

  .menu {
    display: flex;
    gap: 0.9rem;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0.4rem 1rem;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }


  .imgWrapper {
    width: 40px;
    height: 40px;
  }
  .center {
    font-size: 16px;
  }
}
